
body html {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(131, 198, 240, 0.678);
}
main {
    margin: 0 auto;
     width: 83%;
 }


nav {
    display: flex;
    background-color:lightskyblue;

}
footer {
    margin-top: auto;
    background-color: lightskyblue;
    display: flex;
}
ul {
    display: flex;
}
li {
    margin: 0 1rem;
}
h1 {
    font-family: 'Asap', sans-serif;
}
p {
    font-family: 'Yrsa', serif;
}
h2 {
    font-family: 'Prompt', sans-serif;
}
